body {
    background-color: #f4f4f43f;
}
h1 {
    text-align: center;
    color: #333;
}

a {
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
}

hr {
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: #fff;
}