h2 {
    text-align: center;
}

a {
    display: block;
    margin: 20px auto; /* Adjust the margin value as needed */
    text-align: center;
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set the text color */
}

body {
    background-color: skyblue;
}
