body {
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}


a {
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
}


form {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #3498db;
    color: #fff;
}