h2 {
    text-align: center;
}

a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding as needed */
}

body {
    background-color: skyblue;
}
